
<form [formGroup]="studentForm">
  <div class="form-group">
      <input 
          type="text" 
          class="form-control w-100" 
          formControlName="name" 
          name="name" 
          placeholder="Name">
  </div>
  <div class="form-group">
      <input 
          type="text" 
          class="form-control w-100" 
          formControlName="id" 
          name="id" 
          placeholder="Student ID"
          [readOnly]="isEdit">
  </div>
  <div class="form-group">
      <input 
          type="text" 
          class="form-control w-100" 
          formControlName="gender" 
          name="gender" 
          placeholder="Gender">
  </div>
  <div class="form-group">
      <input 
          type="text" 
          class="form-control w-100" 
          formControlName="address" 
          name="address" 
          placeholder="Address">
  </div>            
</form>
<button (click)="add()" *ngIf="!isEdit">Add</button>
<button (click)="edit()" *ngIf="isEdit">Edit</button>
<button (click)="resetForm()" *ngIf="!isEdit">Reset</button>